# .NET Core Build Artifacts
artifacts/
bin/
obj/
Debug/
DebugPublic/
Release/

# Debug and other build-specific files
*.pdb
*.log

# FileContentIndex and related files
FileContentIndex/
*.sqlite

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/
NuGet.Config

# IDE-specific files
.vscode/
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.suo
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Node modules (if applicable)
node_modules/
npm-debug.log

# JetBrains Rider
.idea/

# Web files
*.js.map
*.css.map

# Coverage
coverage/
*.coverage
*.coveragexml

# DotCover
*.dotCover
