# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
NuGet.Config

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.obj
*.lib
*.log
*.suo
*.user
*.userosscache
*.suo
*.sqlite
*.dbmdl
*.jfm

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# VS Code
.vscode/

# Rider
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/

# Web files
*.js.map
*.css.map

# Node modules (if you're using Node.js)
